<h1>Is Ember Really Fast Yet?</h1>
<h3>Baseline: No Ember components. SVG's in an #each with d3</h3>
{{#each graphData in model itemController="graph-item"}}
  <div>
  <svg width=200 height=75 class="baseline">
    <path d={{graphData.graph.path}}></path>
    <line x1=20 y1=50 x2=200 y2=50></line>
    <line x1=20 y1=0 x2=20 y2=50></line>
    {{#each graphData.graph.xTicks as |tick|}}
      <text x={{tick.x}} y={{tick.y}} transform="translate(0 50)">{{tick.text}}</text>
    {{/each}}
    {{#each graphData.graph.yTicks as |tick|}}
      <text x={{tick.x}} y={{tick.y}}>{{tick.text}}</text>
    {{/each}}
  </svg>
  </div>
{{/each}}